#textdomain wesnoth-units
[unit_type]
    id=Lucy
    name= _ "Prêtresse"
    race=human
	{TRAIT_LOYAL}
    generate_name=no
    gender=female
    image="units/human-magi/white-mage+female.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/humans/mage-white+female.png"
    halo=halo/illuminates-aura.png
    hitpoints=47
    movement_type=smallfoot
    movement=5
    experience=150
    level=7
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=64
    usage=healer
    description= _ "After years of experience, the most devout of white magi develop vast spiritual powers. By strict devotion to the path of the white, they can call upon its aid to chase away the shadows of the night.

Following a strict code of piety and honor, these men and women work tirelessly to bring life and order to the troubled world in which they live."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_ILLUMINATES}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/human-magi/white-mage+female-defend.png" "units/human-magi/white-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/mage-white+female.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/mage-white+female.png"
    [/portrait]
    [abilities]
        {ABILITY_ILLUMINATES}
        {ABILITY_CURES}
		{ABILITY_LEADERSHIP_LEVEL_5}
    [/abilities]
    [healing_anim]
        start_time=-525
        [frame]
            image="units/human-magi/white-mage-magic-[1,2].png:75"
        [/frame]
        [frame]
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo[6,1~6].png:75
        [/frame]
        [frame]
            image="units/human-magi/white-mage-magic-[2,1].png:75"
        [/frame]
    [/healing_anim]
    [attack]
        name=Curse
        description=_"Curse"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=0
        number=5
        range=ranged
        icon=attacks/entangle.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=ensnare
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            offset=1.0
            duration=200
            image="projectiles/entangle.png"
            image_diagonal="projectiles/entangle.png"
        [/missile_frame]
        start_time=-300
        [frame]
            image="units/human-magi/white-mage+female-magic-[1~3,3~1].png:75"
            halo="halo/elven/nature-halo[1~8].png"
            halo_x,halo_y=0,-12
        [/frame]
        attack_sound_start_time=-75
        [attack_sound_frame]
            sound=entangle.wav
        [/attack_sound_frame]
        {SOUND:SLOW}
    [/attack_anim]
    [female]
        name= _ "female^Mage of white"
        gender=female
        image="units/human-magi/white-mage+female.png"
        profile="portraits/humans/mage-white+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/human-magi/white-mage+female-defend.png" "units/human-magi/white-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/humans/transparent/mage-white+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/humans/transparent/mage-white+female.png"
        [/portrait]
        [healing_anim]
            [frame]
                image="units/human-magi/white-mage+female-magic-[1,2].png:75"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-[2,1].png:75"
            [/frame]
        [/healing_anim]
    [/female]
[/unit_type]
